
* {
    unicode-bidi: bidi-override;
    direction: rtl;
   
}

/* embedding the fonts */
@font-face {
    font-family: mv-waheed;
    src: url("https://dl.dropboxusercontent.com/s/z0u7r5sz6ofh6so/MV_Waheed%283%29.otf") format('opentype');
}

@font-face {
    font-family: mv-faseyha;
    src: url("https://dl.dropboxusercontent.com/s/nt4yxgy3xwl40es/Faruma.otf") format('opentype');
}

@font-face {
    font-family: mv-typer;
    src: url("https://adhuham.github.io/adam-saleem-website/mvtyper.ttf") format('truetype');
}

@font-face {
    font-family: mv-aaamu-fk;
    src: url("https://adhuham.github.io/adam-saleem-website/mv-aaamu-fk.ttf") format('truetype');
}


/* generic styles */
body {
    background: #f1f1f1 !important;
}

main {
    padding-top: 70px;
}

/* general style for all <p> tags */
p {
    font-family: mv-typer;
    line-height: 1.9em;
    color: #333;
    font-size: 17px;
}

/* generals tyle for all heading tags */
h2, h3, h4, h5 {
    font-family: mv-waheed;
}

/* overrides .card style from the bootstrap framework (adds a dashed border) */
.card {
   border: dashed 2px #7e7e7e !important;
}

header {
    padding: 21px 0;
    background: #ffffff;
    box-shadow: 0 0 42px #00000024; /* add a box shadow to the header */
}

/* selects the <h1> tag inside the <header> element */
header h1 {
    color: #B8860B;
    font-family: mv-aaamu-fk;
    text-align: center;
    direction: rtl;
    margin-bottom: 25px;
    margin-top: 12px;
    font-size: 31px;
}

/* header menu <a> anchor tag styles */
header nav a {
    font-family: mv-typer;
    color: #545454 !important;
    margin-left: 10px;
    text-decoration: none;
    background: #f6f6f6;
    padding: 4px 12px;
    border-radius: 5px;
}

header nav a:hover {
    background: #B8860B;
    color: #FFF !important;
}

/* mobile dropdown nav styles */
header .mobile-nav {
    font-family: mv-typer;
    text-align: center;
}
header .mobile-nav .dropdown-menu {
    text-align: right;
}

/* section title (use this class for all section title/headings) */
.section-title {
    font-family: mv-aaamu-fk;
    text-align: center;
    color: #b8860b;
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 12px;
}

footer {
    margin-top: 80px;
    background: #fff;
    padding: 20px 0;
}